.action-btn{
    width: 3rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.feature-btn {
    padding: 1.5rem;
    border: none;
    background-color: #04AA6D;
    border-radius: 3rem;
    cursor: pointer;
    color: #282A35;
}