.login-box {
  background-color: #ffffff;
  padding: 3rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.logo_container {
  width: 100%;
  height: 20%;
}
.logo {
  width: 30%;
  height: 30%;
  object-fit: contain;
  display: block;
  justify-self: center;
}

.title {
  color: #000;
  font-size: 1.5em;
  text-align: left;
}

.input-field {
  width: 93%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 25px;
  background-color: #fff;
  color: #333;
}

.input-field::placeholder {
  color: #999;
}

.login-button {
  width: 33%;
  padding: 10px;
  background-color: #04aa6d;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-top: 1.5rem;
}

.login-button:hover {
  background-color: #04aa6d;
}
