.bg-dark{
    background-color: #1E1E1E;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1em;
    padding: 1em;
}
.nav-links {
    display: flex;
}
.nav > p {
    cursor: pointer;
}
.icon{
    max-width: 100%;
    max-height: 4rem;
}


@media (min-width: 320px) and (max-width: 767px){
    .nav-links p:nth-last-child(n+5) {
        width: 100%;
        display: none;
        pointer-events: none;
        transform: translateX(20px);
      }
    
  }